<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные пользователя</title>
</head>
<body>
<h2>Изменить данные пользователя</h2>
<div>

    <form th:action="@{/admin/users/edit}" th:object="${user}" method="post">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <fieldset>
            <legend>Данные пользователя</legend>
            <p>
                <label th:for="username">Логин</label>
                <input type="text" name="username" th:id="username" th:value="${user.getUsername()}">
            </p>
            <p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</p>
            <p>
                <label th:for="name">Имя</label>
                <input type="text" name="firstName" th:id="firstName" th:value="${user.getFirstName()}">
            </p>
            <p style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</p>
            <p>
                <label th:for="lastName">Фамилия</label>
                <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}"><br/>
            </p>
            <p style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</p>
            <p>
                <label th:for="age">Возраст</label>
                <input type="text" name="age" th:id="age" th:value="${user.getAge()}"><br/>
            </p>
            <p style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</p>


        </fieldset>
        <button type="submit">Изменить данные</button>
    </form>


    <br/>
    <form th:action="@{/admin}">
        <button type="submit">Назад к списку пользователей</button>
    </form>
</div>
</body>
</html>