<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring Security Example</title>
</head>
<body>

    <div sec:authorize="!isAuthenticated()">
            <h1>Hello</h1>
        <h4><a href="/login">Войти</a></h4>
        <h4><a href="/registration">Зарегистрироваться</a></h4>
     </div>

    <div sec:authorize="isAuthenticated()">
        <h4><a href="/user">Профиль</a></h4>
        <h4><a href="/logout">Выйти</a></h4>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h4><a href="/admin">Панель админа</a></h4>
    </div>









</body>
</html>